@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-brown-100: #ECE0D0;
  --color-brown-300: #DBC1AC;
  --color-brown-600: #967259;
  --color-brown-900: #634832;

  /* Custom Box Shadow */
  --shadow-normal: 0px 1px 10px rgba(0, 0, 0, 0.05);

  /* Custom Border Radius */
  --radius-4xl: 2rem;

  /* Custom Letter Spacing */
  --letter-spacing-tightest: -0.065em;

  /* Custom Font Families */
  --font-dana: Dana, sans-serif;
  --font-rokh: Rokh, sans-serif;
}

@variant child (& > *);
@variant child-hover (& > *:hover);

* {
  @apply font-dana;
}

.range-slider__thumb {
  background-color: #087c54 !important; /* تغییر رنگ دستگیره */
  width: 12px !important; /* عرض دایره */
  height: 12px !important; /* ارتفاع دایره */
  border-radius: 50% !important; /* گرد کردن دایره */
}

.range-slider__track {
  height: 4px !important; /* نازک کردن خط */
  background-color: #ccc !important; /* رنگ پیش‌زمینه خط */
}

.range-slider__track--active {
  background-color: #087c54 !important; /* رنگ بخش فعال */
}

.range-slider__range {
  background-color: #087c54 !important; /* رنگ بخش پس زمینه */
  height: 5px !important;
}

.range-slider {
  height: 5px !important;
}
